name: Docker Image CI

on: 
  push:
    branches:
    - master
    - release/*

jobs:
  
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:latest
    - name: Publish Docker
      uses: elgohr/Publish-Docker-Github-Action@2.4
      with:
        name: expire163/cicddemo
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Publich to github packages
      run: |
        # docker login docker.pkg.github.com
        docker tag my-image-name:latest docker.pkg.github.com/eXpire163/repo/cicddemo:1.0
        docker push docker.pkg.github.com/eXpire163/repo/cicddemo:1.0.0

              

